.sidebar {
  width: 250px;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #e0e0e0;
}

.sidebar-header {
  height: 64px; /* Ajustez cette valeur pour correspondre à la hauteur de votre header principal */
}

.sidebar-nav {
  padding: 2rem 1rem;
  flex-grow: 1;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 1rem;
}

.sidebar li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  gap: 15px;
  color: #5D5A88;
}
.active .sidebar-Icon path{
  stroke: #302C66 !important;
}
.sidebar li a.active, .sidebar li a.active {
  color: #302C66;
}

.sidebar-footer {
  padding: 1rem;
}

.logout-btn {
  width: 100%;
  background-color: #5742aa;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.menu-item{
  display: flex;
  align-items: center;
}
